.main {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.map {
  flex-grow: 1;
  z-index: 0;
  background-color: white;
}

.engine {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: silver;
}

.marker {
  fill: transparent;
  stroke-width: 4px;
  stroke: black;
  pointer-events: none;
}

.travel {
  stroke-width: 4px;
  stroke: black;
}

.canHover:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.dashed {
  .shape {
    stroke-dasharray: 4, 4;
  }
}

.hex {
  .shape {
    fill: white;
    stroke: black;
    stroke-width: 2;
  }

  .label {
    pointer-events: none;
    user-select: none;
    font-size: 0.9em;
    font-family: monospace;
  }

  .icon {
    pointer-events: none;
    user-select: none;
    font-size: 1.5em;
  }
}

.outline {
  cursor: help;

  .shape {
    fill: transparent;
    stroke: silver;
    stroke-width: 4;
  }

  .label {
    display: none;
  }
}

.plains {
  .shape {
    fill: #fff2cc;
    stroke: #bf9000;
  }
}

.trees {
  .shape {
    fill: #e2f0d9;
    stroke: #548235;
  }
}

.arid {
  .shape {
    fill: #fbe5d6;
    stroke: #f4b183;
  }
}

.hills {
  .shape {
    fill: #d9d9d9;
    stroke: #7f6000;
  }
}

.mountains {
  .shape {
    fill: #a6a6a6;
    stroke: #000000;
  }
}

.special {
  .shape {
    fill: #dae3f3;
    stroke: #2f5597;
  }
}
